$red: #d21533;
$gray: #222222;

body {
    padding: 20px 150px;
}

.card {
    height: 400px;
    width: 100%;
    position: relative;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "div1 div1 div2"
        "div3 div4 div5";
    grid-gap: 40px;
}

.div1 {
    grid-area: div1;
    background: blue;
    min-width: 730px;
}

.div2 {
    grid-area: div2;
    background: red;
    min-width: 345px;
}

.div3 {
    grid-area: div3;
    background: blue;
    min-width: 345px;
}

.div4 {
    grid-area: div4;
    background: green;
    min-width: 345px;
}

.div5 {
    grid-area: div5;
    background: purple;
    min-width: 345px;
}

.underline--red {
    color: $red
}

@media only screen and (max-width: 650px) {
    body {
        padding: 50px 20px;
    }

    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 10px;
        grid-template-areas:
            'div1'
            'div2'
            'div3'
            'div4'
            'div5';
    }

    .card {
        height: 100px;
    }
}