a {
  text-decoration: none;
  color: inherit;
}

.fa-folder {
  margin-right: 10px;
}

.page-info {
  font-family: "Open Sans Condensed", sans-serif;
  width: 350px;
  margin: 40px 0;
  font-weight: normal;
}

.card1__img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/nature1.jpeg") no-repeat center/cover;
}

.card2__img {
  background: url("./images/photo-1469212044023-0e55b4b9745a.jpeg") no-repeat center/cover;
}

.card3__img {
  background: url("./images/453.jpeg") no-repeat center/contain;
}

.card4__img {
  background: url("./images/beautiful_natural_scenery_02_hd_pictures_166250.jpeg") no-repeat center/cover;
}

.card5__img {
  background: url("./images/hd_picture_of_the_beautiful_natural_scenery_04_169926.jpeg") no-repeat center/cover;
}

.card__img {
  grid-area: img;
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  border-radius: 3px;
}

.card__category {
  grid-area: category;
  margin-top: 20px;
}

.card__title {
  grid-area: title;
}

.card__summary {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  grid-area: summary;
}

.card__category,
.card__title {
  color: #d21533;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

.arrow--red {
  font-size: initial;
  color: #d21533;
}

.arrow--gray {
  font-size: initial;
  color: #222222;
}

.card__category > .fa-folder {
  color: #222222;
}

.card__play {
  border: none;
  margin: 10px;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0 150px 40px 150px;
}

.card {
  height: 400px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "card1 card1 card2" "card3 card4 card5";
  grid-gap: 40px;
  align-items: center;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.underline--red {
  color: #d21533;
}

.card1__img {
  grid-area: 1/1/9/2;
}

.card1__category {
  display: flex;
  align-items: center;
  grid-area: 5/1/6/2;
}

.card1__title {
  grid-area: 6/1/7/2;
}

.card1__summary {
  grid-area: 7/1/8/2;
}

.card1__category,
.card1__title,
.card1__summary {
  font-family: "Open Sans Condensed", sans-serif;
  width: 45%;
  color: white;
  margin: 0 0 0 40px;
}

.card--big {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card--regular {
  width: 100%;
  min-width: 350px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: "img" "img" "img" "img" "img" "img" "category" "title" "summary";
  grid-gap: 10px;
  align-items: center;
}

.fa-play {
  color: #d21533;
}

@media only screen and (max-width: 425px) {
  .page-info {
    margin: 60px 0 20px 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 425px;
    padding: 0 0 40px 0;
    margin: 0;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 40px;
    grid-template-areas: "card1" "card1" "card1" "card1" "card2" "card3" "card4" "card5";
    width: 350px;
    margin: 0;
  }

  .card--regular {
    height: 75px;
    width: 345px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img category category" "img title title";
    align-items: center;
  }

  .card--regular > .card__summary {
    display: none;
  }

  .card--regular > .card__img > .card__play {
    width: 25px;
    height: 25px;
  }

  .card--regular > .card__img > .card__play > .fa-play {
    font-size: 10px;
  }

  .card1__img {
    grid-area: 1/1/6/2;
  }

  .card1__category {
    grid-area: 6/1/7/2;
    color: #d21533;
  }

  .card1__title {
    grid-area: 7/1/8/2;
    color: #d21533;
  }

  .card1__summary {
    grid-area: 8/1/9/2;
    color: initial;
  }

  .card1__category,
.card1__title,
.card1__summary {
    width: 100%;
    margin: 0;
  }

  .card1__img {
    background: url("./images/nature1.jpeg") no-repeat center/cover;
  }

  .fa-folder {
    color: #222222;
  }
}

/*# sourceMappingURL=styles.css.map */
