.card__image-container {
  grid-area: 1/1/7/2;
  position: relative;
  height: 100%;
  width: 100%;
}

.big-card__image-container {
  grid-area: 1/1/9/2;
}
.big-card__image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  opacity: 0.8;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-folder {
  margin-right: 10px;
}

.page-title {
  font-family: "Open Sans Condensed", sans-serif;
  width: 350px;
  margin: 40px 0;
  font-weight: normal;
}

.card__img {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 3px;
}

.card__title {
  grid-area: 8/1/9/2;
}

.card__summary {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  grid-area: 9/1/10/2;
}

.card__category,
.card__title {
  color: #d21533;
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

.card__category {
  grid-area: 7/1/8/2;
  margin-top: 10px;
}

.arrow--red {
  font-size: initial;
  color: #d21533;
}

.arrow--gray {
  font-size: initial;
  color: #222222;
}

.card__category > .fa-folder {
  color: #222222;
}

.card__play {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  margin: 10px;
  width: 35px;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  padding: 0 150px 40px 150px;
}

.card--height {
  height: 400px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "card1 card1 card2" "card3 card4 card5";
  grid-gap: 40px;
  align-items: center;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.underline--red {
  color: #d21533;
}

.big-card__category {
  display: flex;
  align-items: center;
  grid-area: 5/1/6/2;
}

.big-card__title {
  z-index: 1;
  grid-area: 6/1/7/2;
}

.big-card__category,
.big-card__title,
.big-card__summary {
  z-index: 1;
  font-family: "Open Sans Condensed", sans-serif;
  width: 45%;
  color: white;
  margin: 0 0 0 40px;
}

.big-card__summary {
  grid-area: 7/1/8/2;
  margin-top: 10px;
}

.card--large-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card--regular-layout {
  width: 100%;
  min-width: 345px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.fa-play {
  color: #d21533;
}

@media only screen and (max-width: 768px) {
  .page-title {
    margin: 60px 0 20px 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 425px;
    padding: 0 0 40px 0;
    margin: 0;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 40px;
    grid-template-areas: "card1" "card1" "card1" "card1" "card2" "card3" "card4" "card5";
    width: 350px;
    margin: 0;
  }

  .card--regular-layout {
    height: 75px;
    width: 345px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .card--regular-layout > .card__summary {
    display: none;
  }

  .card--regular-layout > .card__image-container > .card__play {
    width: 25px;
    height: 25px;
  }

  .card--regular-layout > .card__img > .card__play > .fa-play {
    font-size: 10px;
  }

  .big-card__category,
.big-card__title,
.big-card__summary {
    width: 100%;
    margin: 0;
  }

  .big-card__category {
    margin-top: 25px;
    grid-area: 6/1/7/2;
    color: #d21533;
  }

  .big-card__title {
    grid-area: 7/1/8/2;
    color: #d21533;
  }

  .big-card__summary {
    grid-area: 8/1/9/2;
    color: initial;
  }

  .fa-folder {
    color: #222222;
  }

  .card__image-container {
    grid-area: 1/1/3/2;
  }

  .card__category {
    grid-area: 1/2/2/4;
  }

  .card__title {
    grid-area: 2/2/3/4;
  }

  .big-card__image-container {
    grid-area: 1/1/6/2;
  }
  .big-card__image-container::after {
    background-image: initial;
    opacity: initial;
  }
}

/*# sourceMappingURL=styles.css.map */
